<h3>There are <strong>5</strong> contacts</h3>

  <% @contacts.each do |contact| %>
  <div>
    <%= contact.full_name %>
    <p><a href="#">Edit</a> | <a href="#">Delete</a></p>
  </div>
    <% end %>
