html
{
  margin: auto;
  font-family: 'Nimbus Sans', sans-serif;
  width: 70%;
  height: 100%;
}

header
{
  display: block;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

h1
{
  background-color: black;
  color: white;
}

nav
{
  background-color: #D2D2D2;
  margin: 1px, 0;
  font-size: 1.2em;
}

a
{
  display: block;
  text-decoration: none;
  color: white;
  font-weight: 800;
  border: 0.5px solid white;
}

main
{
  margin: auto;
  color: black;
  font-size: 1.17em;
  width: 95%;
}

h3
{
  background-color: #FE756F;
  font-weight: normal;
  padding: 15px;
}

h3 strong
{
  border-bottom: 3px solid #5AC9B6;
}

ul li
{
  list-style: none;
}

footer
{
  background-color: black;
  color: white;
  font-weight: lighter;
  text-align: center;
}

p
{
  color: white;
  background-color: black;
}
